<div id="sceneContainer">
    <md-tabs md-stretch-tabs="auto" md-swipe-content md-dynamic-height class="md-primary">
        <md-tab label="Jails">
            <ng-include src="'templates/tabs/jails.html'"></ng-include>
        </md-tab>
        <md-tab label="SSH Config">
            <h1> Something will come here. Dont' worry :)</h1>
        </md-tab>
        <md-tab label="FreeNAS Config">
            <ng-include src="'templates/tabs/configure.html'"></ng-include>            
        </md-tab>
    </md-tabs>
</div>